	   {% block stylesheets %}
        <link href="{{ asset('tablas.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
<h1> Formulario de recuperacion de clave </h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</br>
¿Has recordado tu contraseña misteriosamente?</br>
 <a href={{path('controlador_login')}}>Ir a login </a>